<ion-app>
  <div class="product-page" [style.background]="currentProduct.backgroundColor">
    <!-- Background Overlay -->
    <div class="background-overlay"></div>
    
    <!-- Header -->
    <div class="custom-header">
      <div class="logo-container">
        <div class="logo">
          <img src="assets/iwem.png" alt="IWEM Logo" class="logo-img" />
        </div>
      </div>
    </div>

    <!-- Product Content -->
    <div class="product-content">
      <!-- Product Showcase with Swiper -->
      <div class="product-image-wrapper">
        <swiper-container #productSwiper
          pagination="false"
          loop="true"
          slides-per-view="1"
          class="product-swiper"
          (swiper)="onSwiperInit($event)">
          <swiper-slide *ngFor="let product of products; let i = index">
            <div class="slide-content">
              <img
                [src]="product.images[0]"
                [alt]="product.name"
                class="product-image"
                (error)="onImageError($event)" />
            </div>
          </swiper-slide>
        </swiper-container>

        <!-- Custom Indicators -->
        <!-- <div class="custom-indicators">
          <span
            *ngFor="let product of products; let i = index"
            class="indicator"
            [class.active]="i === currentProductIndex"
            [class.pulse]="i === currentProductIndex"
            (click)="goToSlide(i)">
          </span>
        </div> -->
      </div>

      <!-- Product Details -->
      <div class="product-details">
        <div class="product-header">
          <h1 class="product-title">{{ currentProduct.name }}</h1>
          <div class="price">
            {{ currentProduct.price }} {{ currentProduct.currency }}
          </div>
        </div>
        <div class="product-description">
          <p>{{ currentProduct.description }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-app>